#canchaBasquet {
	width: 400px;
    height: 250px;
    background: #8b6313;
    border-color: #ffffff ;
}
.circuloB {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 2px solid #ffffff;
     background: #8b6313;
     position: absolute;
     top: 141px;
     left: 180px;
}

.rectanguloB {
	width: 200px;
    height: 250px;
    border: 2px solid #ffffff;
    position: absolute;
    top: 48px;
    left: 6px;
}

.circuloIzq {
	width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 2px solid #ffffff;
     background: #8b6313;
     position: absolute;
     top: 141px;
     left: 65px;

}

.circuloDer {
	width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 2px solid #ffffff;
     background: #8b6313;
     position: absolute;
     top: 141px;
     left: 295px;

}

.medioCirculoIzq {
    width: 110px;
    height: 200px;
    border: 2px solid #ffffff ;
    background: #8b6313;
    border-radius: 0 100px 100px 0;
    position: relative;
    top: 23px; 
    left: -2px;

}

.medioCirculoDer {
    width: 110px;
    height: 200px;
    border: 2px solid #ffffff ;
    background: #8b6313;
    border-radius: 0 100px 100px 0;
    position: relative;
    top: -181px; 
    left: 288px;
    transform: rotate(180deg);

}

